@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('ttf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', 'Lato-Light';
  src: url('../fonts/Lato/Lato-Light.ttf') format('ttf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  width: 50%;
  margin: 0 auto;
}

.resume {
  display: flex;
  background-color:rgb(245, 245, 245);
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: 'Lato';
  margin-left: 10px;
}

.content {
  width:60%;
  margin-left: 20px;
  margin-right: 20px;
}

.paragraph{
  font-family: 'Lato', 'Lato-Light' ;
}

.photo {
  position: relative;
  left: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 4px;
}


  